<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <form (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="login">
          <div class="login-img">
            <img class="login-img-img" src="https://cdn.dribbble.com/users/2268717/screenshots/16318187/media/88db652ef6466a646353d79088fef924.png?compress=1&resize=1200x900" alt="Italian Trulli">
          </div>
          <div class="login-form">
            <div class="login-form-register">
              <span class="login-form-register-text">Not a member? <a (click)="onClick()" class="login-form-register-a">Register now</a> </span>
            </div>
            <h3 class="login-form-title">bangquang11</h3>
            <h5 class="login-form-text">Left For Code</h5>
            <div class="login-form-input">
              <input type="text" [(ngModel)]="username" name="username" class="login-form-input-username" placeholder="Enter username"> <br/>
            </div>
            <div class="login-form-input-2">
              <input type="password" [(ngModel)]="password" name="password" class="login-form-input-password" placeholder="Password">
            </div>

            <div class="login-form-button">
              <button class="login-form-button-signin">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </form>
</body>
</html>
