body {
  font-size: 12px;
}

.login {
  background-color: #F4F5FA;
  display: flex;
  border-radius: 20px;
  box-shadow: 2px 8px 29px -6px black;
}

.container {
  padding-top: 9%;
  padding-left: 6%;
  padding-right: 6%;
}

.login-img {
  width: 50%;
}

.login-form {
  width: 50%;
}

.login-img-img {
  max-height:100%;
  max-width:100%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  border-radius: 20px;
}

.login-form-register {
  text-align: right;
}

.login-form-register-text {
  font-weight: 500;
  padding-right: 4%;
}

.login-form-title {
  padding-top: 15%;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.login-form-input {
  padding-top: 5%;
  text-align: center;
}

.login-form-input-username {
  width: 67%;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-left: 17px;
}

.login-form-input-password {
  width: 67%;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-left: 17px;
}

.login-form-input-2 {
  padding-top: 3%;
  text-align: center;
}

.login-form-button {
  padding-top: 4%;
  text-align: center;
}

.login-form-button-signin {
  width: 67%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #fe6a68;
  color: antiquewhite;
  font-size: 12px;
}

.login-form-text {
  text-align: center;
}

.login-form-register-a {
  color: #00aefd;

}



@media only screen and (max-width: 414px) {
  .login {
    display: block;
  }
  .login-img {
    width: 100%;
    padding-right: 3%;
  }
  .login-img h1 {
    margin-bottom: 0;
  }

  .login-form {
    width: 100%;
    padding: 20px 20px;
  }

  .login-form-text {
    font-size: 15px;
    text-align: center;
  }
}
