<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact V2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="bg-contact2">
  <div class="container-contact2">
    <div class="wrap-contact2">
      <form (ngSubmit)="onSubmit()" class="contact2-form validate-form">
					<span class="contact2-form-title">
						Change Password
					</span>

        <div class="wrap-input2 validate-input" data-validate="current password is required">
          <input class="input2" type="password" [(ngModel)]="currentPassword" placeholder="current password" name="name">
<!--          <span class="focus-input2"></span>-->
        </div>

        <div class="wrap-input2 validate-input" data-validate = "new password is required">
          <input class="input2" type="password" [(ngModel)]="newPassword" placeholder="new password" name="email">
<!--          <span class="focus-input2" placeholder="new password"></span>-->
        </div>

        <div class="wrap-input2 validate-input" data-validate = "confirmed password is required">
          <input class="input2" type="password" [(ngModel)]="confirmedNewPassword" name="email" placeholder="confirm new password">
<!--          <span class="focus-input2" data-placeholder="confirmed password"></span>-->
        </div>


        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            <button class="contact2-form-btn">
              change
            </button>
          </div>
          <button (click)="goToHome()" class="contact2-form-btn" style="color: #00d3f3; background-color: #6c757d">
            cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>




<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
