<router-outlet></router-outlet>

<!--<div class="blog-post">-->

<!--  <div class="blog-post__img">-->
<!--    <img src="https://th.bing.com/th/id/OIP.dhlAa_e88csU6Jb-hTX2wgHaEK?pid=ImgDet&rs=1">-->
<!--  </div>-->

<!--  <div class="blog-post__info">-->

<!--    <div class="blog-post__date">-->

<!--      <span>Sunday</span> <br/>-->
<!--      <span>October 27 2019</span>-->

<!--    </div>-->

<!--    <h1 class="blog-post__title">Shark Sighting</h1>-->

<!--    <p class="blog-post__text">Trong khi sống là ko phải là để ngồi nhàn nhã bên đống lửa-->
<!--      Ta phải ra ngoài, đương đầu với giá lạnh-->
<!--      Cảm nhận sự yếu đuối của bản thân và mạo hiểm tính mạng của mình-->
<!--      VÌ SỐNG LÀ PHẢI THẾ, SỐNG LÀ PHẢI RA NGOÀI</p>-->

<!--    <a href="#" class="blog-post__cta">Read more</a>-->

<!--  </div>-->

<!--</div>-->






